body {
    background: #0f172a;
    color: #e5e7eb;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #1e293b;
    width: 380px;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
}

h1 {
    margin-bottom: 5px;
}

.badge {
    font-size: 12px;
    color: #38bdf8;
    margin-bottom: 15px;
}

#dropZone {
    border: 2px dashed #64748b;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}

#dropZone:hover {
    background: #334155;
}

.password-box {
    display: flex;
    margin-top: 10px;
}

.password-box input {
    flex: 1;
    padding: 10px;
}

.password-box span {
    background: #475569;
    padding: 10px;
    cursor: pointer;
}

input, button {
    width: 100%;
    margin: 8px 0;
    padding: 10px;
    border-radius: 6px;
    border: none;
}

button {
    background: #3b82f6;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #2563eb;
}

.buttons {
    display: flex;
    gap: 10px;
}

progress {
    width: 100%;
}

details {
    text-align: left;
    margin-top: 10px;
    font-size: 14px;
}
